@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #35424a;
  color: white;
  position: relative;
}
.clarusway {
  color: #9f4c71;
}
a {
  text-decoration: none;
  color: white;
}
header {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #9f4c71;
  align-items: center;
  background-color: #35424a;
  position: sticky;
  top: 0;
}
ul {
  list-style: none;
}
ul li {
  display: inline-block;
  margin-left: 1rem;
}
.nav-right,
.nav-left {
  margin: 0.75rem;
  padding: 0.5rem;
}
.nav-left {
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
}
.nav-right a:hover {
  color: #9f4c71;
}
.section-background {
  background-image: url(./images/showcase.jpg);
  background-position: center;
  background-size: cover;
  height: 20rem;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.section-background h2 {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}
.subscribe1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0.75rem;
}
.subscribe1 h5 {
  font-size: 1.2rem;
  margin-left: 0.5rem;
}
main {
  background-color: white;
  display: flex;
  color: black;
  text-align: center;
  padding: 1rem;
}
main img {
  width: 5rem;
}
.html5,
.css3,
.graphic {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main h6 {
  font-size: 1rem;
  margin: 1rem;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  gap: 0.5rem;
}
footer img {
  width: 15rem;
}
.subscribe {
  background-color: #e8491d;
  border: none;
  padding: 0.4rem;
  color: white;
}
.subscribe1 input {
  padding: 0.4rem;
  border: none;
}
h6,
h5 {
  font-family: "Roboto", sans-serif;
}
.section-background p {
  font-size: 1.1rem;
}

@media (max-width: 605px) {
  header {
    flex-direction: column;
    gap: 0;
  }
  .nav-right,.nav-left{
    margin: 0.2rem;
  }
  .subscribe-btn{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 0.3rem;
  }
  .about{
    flex-direction: column;
  }
  .services{
    flex-direction: column;
  }

}
@media (max-width: 475px) {
    main,.subscribe1{
        flex-direction: column;
    align-items: center;
    justify-content: center;


    }
    .html5,
.css3,
.graphic{
    margin-top: 2rem;
}
h5{
    text-align: center;
}
}



/* html 2 */

.about{
    background-color: white;
    color: black;
    display: flex;
    /* height: 65vh; */
}
.dark{
    background-color:#35424a ;
    color: white;
}
.about div{
    margin: 1rem;
    padding: 1rem;
}
.main-left{
    flex: 2 ;
}
.main-right{
    display: inline;
    height: fit-content;
    padding-top: 2rem;
    margin-top: 10rem;
    flex: 1;
    
}
.main-right p{
    margin-top: 1.2rem;
}
.about h3{
    margin-left: 2rem;
}
.about .dark{
    margin-left: 2rem;
}



/* html 3 */

.services{
    background-color: white;
    color: black;
    display: flex;
    /* height: 60vh; */
    justify-content: space-evenly;
    gap: 12rem;
    

}
.form{
    display: flex;
    flex-direction: column;
    
}
.services-right{
    align-items: center;
    justify-content: center;
    padding: 2rem;
    background-color: #35424a;
    height: fit-content;
    color: white;
    margin-right: 3rem;
}
.services div{
    margin: 1rem;
}
.services-left div{
    background-color: rgba(128, 128, 128, 0.15);
    padding:  1rem;
}
.services-left h5{
    padding-bottom:1rem ;
}
.services-left p{
    margin-bottom: 0.5rem;
}
.services h4{
    margin: 0 1.8rem;
    font-size: 1.2rem;
    margin-bottom: 0.8rem;
}
.services-right input,textarea{
    width: 12rem;
    margin: 0.25rem 0;
    margin-bottom: 1rem;
}
.services-right h4{
    text-align: center;
}
textarea{
    resize: none;
}

.color{
    color:#9f4c71
}