h1{
    background-color: #FF9D8F;
    color: rgb(27, 214, 27);
    font-size: 70px;
    text-align: center;



}
#cark{
    width: 700px;
    float: right;

}
.gergedan{
    width: 600px;

}

body{
    background-color: rgba(128, 255, 0, 0.155);

}

p{
    font-size: 20px;
}

#sol{
    width: 40%;
}

#sag{
    width: 40%;
    float: right;
}