*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
div{
    display: inline-block;
}
div.left-img-ver{
    width: 14%;
    height: 100vh;
    background-image: url(./img/sol.png);
    background-size: cover;
    opacity: 0.9;
    background-position: bottom right ;
    background-repeat: no-repeat;
}
div.mid{
    width: 21%;
    border: 1px solid yellowgreen;
    height: 100vh;
    background-color: black;

}
div.main-img{
    background-image: url(./img/main.png);
    background-position: center ;
    opacity: 0.9;
    background-size: cover;
    width: 65%;
    height: 100vh;
}
p{
    color: aliceblue;
}