*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.logo{
    display: inline-block;
    width: 200px;
    height: 10rem;

}
.nav{
    border: 2px solid blue;

}
.left-logo{
    border: 2px solid red;
    display: inline-block;
    
}
.right{
    /* border: 2px solid blue; */
    /* display: inline-block; */
    float: right;



}
.right-menü li{
    display: inline-block;
    /* border: 2px solid red; */
    /* vertical-align: middle;        ?????? */
    




}
.right-menü a{
    text-decoration: none;
    font-size: 0.8rem;
}