div {
  background-color: blue;
  width: 500px;
  height: 50px;
  visibility: hidden;
}
p {
  display: none;
}
a {
  display: block;
}
h2 {
  display: inline;
}
ul.nav{
    background-color: rgba(250, 128, 114, 0.401);
}
ul.nav li{
    list-style-type: none;
    display: inline-block;
    padding: 10px;
}